:root {
  --color: #2ec27e;
}


body {
  font-family: monospace;
  background: black;
  color: var(--color);
}

html {
  margin: 0px;
}

input {
  border: none;
  background: black;
  color: var(--color);
  font-family: monospace;
  font-size: 16px;
  border: 1px var(--color) solid;
  width: 40%;
}

p, b{
  font-size: 16px;
}

#console{
    width: 40%;
  height: 40%;
    overflow: auto;

}

#planet {

  margin: 20px;
  width: 40%;
}