:root {
  --color: #1a5fb4;
}


body {
  font-family: monospace;
  background: black;
  color: var(--color);
  cursor: cell;
}

html {
  margin: 0px;
}

input {
  border: none;
  background: black;
  color: var(--color);
  font-family: monospace;
  font-size: 16px;
  border: 1px var(--color) solid;
  width: 40%;
  
}

p, b{
  font-size: 16px;
}

#console{
  padding: 5px;
    width: 40%;
  height: 150px;
  max-height: 150px;
    overflow: auto;
  margin: 15px;
border: 1px var(--color) solid;
  scrollbar-color: var(--color);
}

#planet {
  position: absolute;
  margin: 20px;
  width: 40%;
  top: 230px;
}

#ship{
  position: absolute;
  margin: 20px;
  width: 40%;
  float: right;
  right: 0px;
  text-align: right;
}